@import "./../general/colors";

.table-medals {
  width: 100%;
  padding-top: 20px;
  clear: both;

  &__no { width: 30px; text-align: left; }
  &__country { width: auto; text-align: left; }
  &__gold, &__silver, &__bronze { width: 40px; }
  &__total { width: 60px; }
  &__no-country { text-align: center; padding: 20px 0; cursor: auto;}

  thead tr th {
    border: solid $white-gainsboro2;
    border-width: 1px 0;
    line-height: 46px;
  }

  tbody tr {
    cursor: pointer;

    td {
      line-height: 30px;
      border-bottom: 1px solid $white-smoke;

      &:hover {
        background: $grey-squeeze;
      }

      &:nth-child(n+3) { text-align: center; }
    }
  }
}