/*
* Minimal CSS Reset
* source: https://alligator.io/css/minimal-css-reset/
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*
* General styles:
*/

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

h1 {
  margin-top: 10px;
}

input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/*
* Basic grid system:
*/

.col {
  float: left;
  margin-top: 6px;

  &--25 {
    @extend .col;
    width: 25%;
  }

  &--75 {
    @extend .col;
    width: 75%;
  }
}

.row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
* Own styles:
*/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 767.98px) {
    width: auto;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 750px;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.medal {
  width: 25px;
  height: 32px;
  background-image: url('../../public/images/medals.png');
  background-repeat: no-repeat;
  margin: 0 auto;

  &--gold {
    @extend .medal;
    background-position: -10px -10px;
  }

  &--silver {
    @extend .medal;
    background-position: -55px -10px;
  }

  &--bronze {
    @extend .medal;
    background-position: -100px -10px;
  }
}

.table-medals {
  width: 100%;
  padding-top: 20px;
  clear: both;

  &__no { width: 30px; text-align: left; }
  &__country { width: auto; text-align: left; }
  &__gold, &__silver, &__bronze { width: 40px; }
  &__total { width: 60px; }

  thead tr th {
    border: solid #d9d9d9;
    border-width: 1px 0;
    line-height: 46px;
  }

  tbody tr td {
    line-height: 30px;
    border-bottom: 1px solid #ededed;

    &:hover {
      background: #f7f7f5;
    }

    &:nth-child(n+3) { text-align: center; }
  }
}

.button {
  border: 1px solid;
  background-color: #d8b424;
  border-color: #ffc107;
  color: white;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #e0a800;
    border-color: #d39e00;
  }

  &--gray {
    @extend .button;
    background-color: #e7e7e7;
    color: #212529;
    border-color: #f8f9fa;

    &:hover {
      color: #212529;
      background-color: #e2e6ea;
      border-color: #dae0e5;
    }
  }
}

.button-add-country {
  float: right;
  padding: 11px 15px;
  margin-top: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #9a9a9a;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  &__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;

    @media (max-width: 767.98px) {
      width: 90%;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 20px;
  }

  &__body {
    clear: both;
  }

  &__footer {
    text-align: right;

    button {
      margin: 10px 0 10px 10px;
    }
  }

  &__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover, &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.modal-medals {
  &__label-mobile {
    @media (max-width: 600px) {
      display: none;
    }
  }

  &__col-label {
    min-width: 60px;
  }
}



