.flag {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    background: url('../../images/flags.png') no-repeat;

    &__AD { background-position: -16PX 0; }
    &__AE { background-position: -32PX 0; }
    &__AF { background-position: -48PX 0; }
    &__AG { background-position: -64PX 0; }
    &__AI { background-position: -80PX 0; }
    &__AL { background-position: -96PX 0; }
    &__AM { background-position: -112PX 0; }
    &__AN { background-position: -128PX 0; }
    &__AO { background-position: -144PX 0; }
    &__AR { background-position: -160PX 0; }
    &__AS { background-position: -176PX 0; }
    &__AT { background-position: -192PX 0; }
    &__AU { background-position: -208PX 0; }
    &__AW { background-position: -224PX 0; }
    &__AX { background-position: -240PX 0; }
    &__AZ { background-position: 0 -16PX; }
    &__BA { background-position: -16PX -16PX; }
    &__BB { background-position: -32PX -16PX; }
    &__BD { background-position: -48PX -16PX; }
    &__BE { background-position: -64PX -16PX; }
    &__BF { background-position: -80PX -16PX; }
    &__BG { background-position: -96PX -16PX; }
    &__BH { background-position: -112PX -16PX; }
    &__BI { background-position: -128PX -16PX; }
    &__BJ { background-position: -144PX -16PX; }
    &__BL { background-position: -160PX -16PX; }
    &__BM { background-position: -176PX -16PX; }
    &__BN { background-position: -192PX -16PX; }
    &__BO { background-position: -208PX -16PX; }
    &__BR { background-position: -224PX -16PX; }
    &__BS { background-position: -240PX -16PX; }
    &__BT { background-position: 0 -32PX; }
    &__BW { background-position: -16PX -32PX; }
    &__BY { background-position: -32PX -32PX; }
    &__BZ { background-position: -48PX -32PX; }
    &__CA { background-position: -64PX -32PX; }
    &__CD { background-position: -80PX -32PX; }
    &__CF { background-position: -96PX -32PX; }
    &__CG { background-position: -112PX -32PX; }
    &__CH { background-position: -128PX -32PX; }
    &__CI { background-position: -144PX -32PX; }
    &__CK { background-position: -160PX -32PX; }
    &__CL { background-position: -176PX -32PX; }
    &__CM { background-position: -192PX -32PX; }
    &__CN { background-position: -208PX -32PX; }
    &__CO { background-position: -224PX -32PX; }
    &__CR { background-position: -240PX -32PX; }
    &__CU { background-position: 0 -48PX; }
    &__CV { background-position: -16PX -48PX; }
    &__CW { background-position: -32PX -48PX; }
    &__CY { background-position: -48PX -48PX; }
    &__CZ { background-position: -64PX -48PX; }
    &__DE { background-position: -80PX -48PX; }
    &__DJ { background-position: -96PX -48PX; }
    &__DK { background-position: -112PX -48PX; }
    &__DM { background-position: -128PX -48PX; }
    &__DO { background-position: -144PX -48PX; }
    &__DZ { background-position: -160PX -48PX; }
    &__EC { background-position: -176PX -48PX; }
    &__EE { background-position: -192PX -48PX; }
    &__EG { background-position: -208PX -48PX; }
    &__EH { background-position: -224PX -48PX; }
    &__ENGLAND { background-position: -240PX -48PX; }
    &__ER { background-position: 0 -64PX; }
    &__ES { background-position: -16PX -64PX; }
    &__ET { background-position: -32PX -64PX; }
    &__EU { background-position: -48PX -64PX; }
    &__FI { background-position: -64PX -64PX; }
    &__FJ { background-position: -80PX -64PX; }
    &__FK { background-position: -96PX -64PX; }
    &__FM { background-position: -112PX -64PX; }
    &__FO { background-position: -128PX -64PX; }
    &__FR { background-position: -144PX -64PX; }
    &__GA { background-position: -160PX -64PX; }
    &__GB { background-position: -176PX -64PX; }
    &__GD { background-position: -192PX -64PX; }
    &__GE { background-position: -208PX -64PX; }
    &__GG { background-position: -224PX -64PX; }
    &__GH { background-position: -240PX -64PX; }
    &__GI { background-position: 0 -80PX; }
    &__GL { background-position: -16PX -80PX; }
    &__GM { background-position: -32PX -80PX; }
    &__GN { background-position: -48PX -80PX; }
    &__GP { background-position: -64PX -80PX; }
    &__GQ { background-position: -80PX -80PX; }
    &__GR { background-position: -96PX -80PX; }
    &__GS { background-position: -112PX -80PX; }
    &__GT { background-position: -128PX -80PX; }
    &__GU { background-position: -144PX -80PX; }
    &__GW { background-position: -160PX -80PX; }
    &__GY { background-position: -176PX -80PX; }
    &__HK { background-position: -192PX -80PX; }
    &__HN { background-position: -208PX -80PX; }
    &__HR { background-position: -224PX -80PX; }
    &__HT { background-position: -240PX -80PX; }
    &__HU { background-position: 0 -96PX; }
    &__IC { background-position: -16PX -96PX; }
    &__ID { background-position: -32PX -96PX; }
    &__IE { background-position: -48PX -96PX; }
    &__IL { background-position: -64PX -96PX; }
    &__IM { background-position: -80PX -96PX; }
    &__IN { background-position: -96PX -96PX; }
    &__IQ { background-position: -112PX -96PX; }
    &__IR { background-position: -128PX -96PX; }
    &__IS { background-position: -144PX -96PX; }
    &__IT { background-position: -160PX -96PX; }
    &__JE { background-position: -176PX -96PX; }
    &__JM { background-position: -192PX -96PX; }
    &__JO { background-position: -208PX -96PX; }
    &__JP { background-position: -224PX -96PX; }
    &__KE { background-position: -240PX -96PX; }
    &__KG { background-position: 0 -112PX; }
    &__KH { background-position: -16PX -112PX; }
    &__KI { background-position: -32PX -112PX; }
    &__KM { background-position: -48PX -112PX; }
    &__KN { background-position: -64PX -112PX; }
    &__KP { background-position: -80PX -112PX; }
    &__KR { background-position: -96PX -112PX; }
    &__KW { background-position: -112PX -112PX; }
    &__KY { background-position: -128PX -112PX; }
    &__KZ { background-position: -144PX -112PX; }
    &__LA { background-position: -160PX -112PX; }
    &__LB { background-position: -176PX -112PX; }
    &__LC { background-position: -192PX -112PX; }
    &__LI { background-position: -208PX -112PX; }
    &__LK { background-position: -224PX -112PX; }
    &__LR { background-position: -240PX -112PX; }
    &__LS { background-position: 0 -128PX; }
    &__LT { background-position: -16PX -128PX; }
    &__LU { background-position: -32PX -128PX; }
    &__LV { background-position: -48PX -128PX; }
    &__LY { background-position: -64PX -128PX; }
    &__MA { background-position: -80PX -128PX; }
    &__MC { background-position: -96PX -128PX; }
    &__MD { background-position: -112PX -128PX; }
    &__ME { background-position: -128PX -128PX; }
    &__MF { background-position: -144PX -128PX; }
    &__MG { background-position: -160PX -128PX; }
    &__MH { background-position: -176PX -128PX; }
    &__MK { background-position: -192PX -128PX; }
    &__ML { background-position: -208PX -128PX; }
    &__MM { background-position: -224PX -128PX; }
    &__MN { background-position: -240PX -128PX; }
    &__MO { background-position: 0 -144PX; }
    &__MP { background-position: -16PX -144PX; }
    &__MQ { background-position: -32PX -144PX; }
    &__MR { background-position: -48PX -144PX; }
    &__MS { background-position: -64PX -144PX; }
    &__MT { background-position: -80PX -144PX; }
    &__MU { background-position: -96PX -144PX; }
    &__MV { background-position: -112PX -144PX; }
    &__MW { background-position: -128PX -144PX; }
    &__MX { background-position: -144PX -144PX; }
    &__MY { background-position: -160PX -144PX; }
    &__MZ { background-position: -176PX -144PX; }
    &__NA { background-position: -192PX -144PX; }
    &__NC { background-position: -208PX -144PX; }
    &__NE { background-position: -224PX -144PX; }
    &__NF { background-position: -240PX -144PX; }
    &__NG { background-position: 0 -160PX; }
    &__NI { background-position: -16PX -160PX; }
    &__NL { background-position: -32PX -160PX; }
    &__NO { background-position: -48PX -160PX; }
    &__NP { background-position: -64PX -160PX; }
    &__NR { background-position: -80PX -160PX; }
    &__NU { background-position: -96PX -160PX; }
    &__NZ { background-position: -112PX -160PX; }
    &__OM { background-position: -128PX -160PX; }
    &__PA { background-position: -144PX -160PX; }
    &__PE { background-position: -160PX -160PX; }
    &__PF { background-position: -176PX -160PX; }
    &__PG { background-position: -192PX -160PX; }
    &__PH { background-position: -208PX -160PX; }
    &__PK { background-position: -224PX -160PX; }
    &__PL { background-position: -240PX -160PX; }
    &__PN { background-position: 0 -176PX; }
    &__PR { background-position: -16PX -176PX; }
    &__PS { background-position: -32PX -176PX; }
    &__PT { background-position: -48PX -176PX; }
    &__PW { background-position: -64PX -176PX; }
    &__PY { background-position: -80PX -176PX; }
    &__QA { background-position: -96PX -176PX; }
    &__RE { background-position: -112PX -176PX; }
    &__RO { background-position: -128PX -176PX; }
    &__RS { background-position: -144PX -176PX; }
    &__RU { background-position: -160PX -176PX; }
    &__RW { background-position: -176PX -176PX; }
    &__SA { background-position: -192PX -176PX; }
    &__SB { background-position: -208PX -176PX; }
    &__SC { background-position: -224PX -176PX; }
    &__SCOTLAND { background-position: -240PX -176PX; }
    &__SD { background-position: 0 -192PX; }
    &__SE { background-position: -16PX -192PX; }
    &__SG { background-position: -32PX -192PX; }
    &__SH { background-position: -48PX -192PX; }
    &__SI { background-position: -64PX -192PX; }
    &__SK { background-position: -80PX -192PX; }
    &__SL { background-position: -96PX -192PX; }
    &__SM { background-position: -112PX -192PX; }
    &__SN { background-position: -128PX -192PX; }
    &__SO { background-position: -144PX -192PX; }
    &__SOMALILAND { background-position: -160PX -192PX; }
    &__SR { background-position: -176PX -192PX; }
    &__SS { background-position: -192PX -192PX; }
    &__ST { background-position: -208PX -192PX; }
    &__SV { background-position: -224PX -192PX; }
    &__SY { background-position: -240PX -192PX; }
    &__SZ { background-position: 0 -208PX; }
    &__TC { background-position: -16PX -208PX; }
    &__TD { background-position: -32PX -208PX; }
    &__TF { background-position: -48PX -208PX; }
    &__TG { background-position: -64PX -208PX; }
    &__TH { background-position: -80PX -208PX; }
    &__TJ { background-position: -96PX -208PX; }
    &__TK { background-position: -112PX -208PX; }
    &__TL { background-position: -128PX -208PX; }
    &__TM { background-position: -144PX -208PX; }
    &__TN { background-position: -160PX -208PX; }
    &__TO { background-position: -176PX -208PX; }
    &__TR { background-position: -192PX -208PX; }
    &__TT { background-position: -208PX -208PX; }
    &__TV { background-position: -224PX -208PX; }
    &__TW { background-position: -240PX -208PX; }
    &__TZ { background-position: 0 -224PX; }
    &__UA { background-position: -16PX -224PX; }
    &__UG { background-position: -32PX -224PX; }
    &__US { background-position: -48PX -224PX; }
    &__UY { background-position: -64PX -224PX; }
    &__UZ { background-position: -80PX -224PX; }
    &__VA { background-position: -96PX -224PX; }
    &__VC { background-position: -112PX -224PX; }
    &__VE { background-position: -128PX -224PX; }
    &__VG { background-position: -144PX -224PX; }
    &__VI { background-position: -160PX -224PX; }
    &__VN { background-position: -176PX -224PX; }
    &__VU { background-position: -192PX -224PX; }
    &__WALES { background-position: -208PX -224PX; }
    &__WF { background-position: -224PX -224PX; }
    &__WS { background-position: -240PX -224PX; }
    &__XK { background-position: 0 -240PX; }
    &__YE { background-position: -16PX -240PX; }
    &__YT { background-position: -32PX -240PX; }
    &__ZA { background-position: -48PX -240PX; }
    &__ZM { background-position: -64PX -240PX; }
    &__ZW { background-position: -80PX -240PX; }
}